.topnav{background-color: #333; overflow: hidden; position: fixed;}
.topnav a{float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.topnav a:hover{background-color: maroon; color: red;}
.topnav a.active{background color: #4CAF50; color: white;}
.header{background-image: url('carbon.jpeg'); border: 3px solid maroon;}
.cars{background-color: slategrey; color: white; padding: 10px;}
.planes{background-color: tomato; color: white; padding: 10px;}
body{background-color: black; font family: helvetica; margin: 0px 100px;}
h1{color: white; font-family: helvetica;<!--border: 5px solid maroon; padding: 30px;-->}
h2{background-color: darkslategrey; color: white; font-family: helvetica; padding: 10px;}
h3{background-color: tan; color:black; font-family: helvetica; padding: 10px;}
p{color: dimgrey; font-family: helvetica;}